.record_header{
    display: flex;
}

.logo{
    color: #fff222;
    font-size: 28px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.container{
    max-width: 56rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container2{
    text-align: center;
}

.bild{
    
}