<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/hac5drd.css">
</head>
<body>
    <nav>
        {% include "header.njk" %}
    </nav>
    <main class="container">
        <div>
            {% include "bild.njk" %}
        </div>
        <div>
            {{ content | safe }}
        </div>
    </main>
    <footer class="container">
        <h6>Content owned by <a href="https://disney.se/">@Disney</a> <br>
        This has been made as an assignment in school, so no copyright pls :(</h6>        
    </footer>
</body>
</html>