<header class="navbar container">
    <div class="header2">
        <figure>
            <img src="/images/DDuck_logo3.svg" alt="Logo" width="75">
        </figure>
        <h1>
            DONALD DUCK
        </h1>
    </div>
    <button class="navbar__button">
        <span class="material-symbols-outlined">
            menu
            </span>
    </button>
    <div class="navbar__collapse">
        <ul class="menu">
            <li><a href="/">Hem</a></li>
            <li><a href="/">Om</a></li>
            <li><a href="/">Kontakt</a></li>
        </ul>
    </div>
</header>